<h3>スケジュール詳細</h3>
 
　<table>
   <tr>
    <th>タイトル</th>
    <td><%= @post.title %></td>
   </tr>
   <tr>
    <th>開始日</th>
    <td><%= @post.startDay %></td>
   </tr>
   <tr>
    <th>投稿日時</th>
    <td><%= @post.updated_at.to_s(:datetime_jp) %></td>
   </tr>
   <tr>
    <th>終日</th>
    <td><% if @post.allDay == true %>
           ◯
        <% else @post.allDay == false %>
        <% end %>
    </td>
   </tr>
   <tr>
     <th>スケジュールメモ</th>
     <td><%= @post.memo %></td>
   </tr>
  </table>
 
  <div>
   <ul>
    <li><%= link_to "スケジュール一覧に戻る", :posts %></li>
   </ul>
  </div>